{
  "semi": true,
  {
    "overrides": [
      {
        "files": "*",
        "options": {
          "overrides": [
            {
              "files": "*",
              "rules": {
                "no-empty-pattern": "off",
                "no-unused-vars": "off",
                "prettier/prettier": [
                  "error",
                  {
                    "singleQuote": false,
                    "doubleQuote": false,
                    "jsxSingleQuote": false,
                    "quoteProps": "as-needed"
                  }
                ]
              }
            }
          ]
        }
      }
    ]
  }
  