/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f0f2f5;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #007BFF;
}
html {
  initial-scale: 1.0;
  max-width: 100%;
  overflow-x: hidden;
}



/* Responsive styles */
@media screen and (max-width: 768px) {
  .main-header {
    flex-direction: column;
    padding: 20px 25px;
  }

  .logo {
    height: 80px;
  }

  .main-nav {
    margin-top: 10px;
  }
  
  .hero-content{
    margin-top: 100px;
  }

  .hero .headline {
    font-size: 2rem;
    padding: 20px 50px;
  }

  .hero .subheadline {
    font-size: 1.5rem;
    padding: 20px 80px;
  }

  .hero .description {
    font-size: 1rem;
    padding: 20px 100px;
  }

  .featured-brands {
    padding: 4rem 2rem;
  }

  .how-it-works {
    margin-bottom: 100px;
  }

  .step {
    width: 80%;
    margin: 1rem auto;
  }

  .testimonial-slider {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .cta-button{
    padding-top : 20px;
  }
}


/*  */
/*  */
/* header */
/* Main header styles */
/*  */
/*  */


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-family: 'Poppins', sans-serif;
  z-index: 10;
  position: relative;
  background-color: grey;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: auto;
  margin-right: 15px;
}


.main-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  margin-left: 15px;
  position: relative;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007BFF;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007BFF;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-separator {
  color: #303030;
  margin-left: 15px;
}
/*  */
/*  */
/*  */
/*  */



/*  */
/*  */
/* Hero Section */
/*  */
/*  */
.hero {
  background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('./designs/layer1.svg');
  background-size: cover;
  background-position: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem 0rem;
  position: relative;
}

.hero .headline {
  font-size: 3rem;
  color: #fff;
  padding: 20px 150px;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero .subheadline {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.hero .description {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.hero .video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 20px 35px;
}

.cta-button {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: #ff9f00;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}


.cta-button:hover {
  background-color: #ff7f00;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
/*  */
/*  */
/*  */
/*  */



/*  */
/*  */
/* Featured Brands Section */
/*  */
/*  */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 65px;
}

.search-input {
  padding: 10px 40px 10px 15px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  color: #333;
  background-color: #f4f4f4;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.search-input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.search-input::placeholder {
  color: #999;
}

.search-container::before {
  content: "";
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url('./designs/searchicon.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
}


.featured-brands {
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
  text-align: center;
  background-color: #f6f6f6;
  width: 100%;
}

.featured-brands-header {
  font-size: 2rem;
  margin-bottom: 3.5rem;
  font-weight: 600;
  color: #333;
}

.brand-logos {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 2.5rem;
  margin-bottom: 4rem;
}

.brand-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.brand-logo {
  filter: grayscale(20%);
  width: 85%;
  height: 85%;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.brand-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.brand-container:hover .brand-logo {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.brand-container:hover .brand-overlay {
  opacity: 1;
}

.brand-container.selected .brand-overlay {
  background-color: rgb(108 108 108 / 40%);
  opacity: 1;
}

.submit-button {
  background-color: #ffffff; /* White */
  color: #333333; /* Dark grey */
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  width: 75%;
  margin-left: 12.5%;
  border-radius: 50px;
  border: 2px solid #333333; /* Dark grey */
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease, color 0.2s ease, border 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: #4f4f4f; /* Dark grey */
  color: #ffffff; /* White */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

  /* General container styles */
.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f8f8f8; /* Light grey */
  border-radius: 10px;
}

/* Form styles */
.email-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

/* Email input styles */
.email-input {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #333333; /* Dark grey */
  background-color: #ffffff; /* White */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  width: 75%;
  margin-left: 12.5%;
}

.email-input:focus {
  border-color: #4f4f4f; /* Dark grey */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.email-input::placeholder {
  color: #999999; /* Placeholder text color */
}



/*  */
/*  */
/*  */
/*  */


/*  */
/*  */
/* How it Works Section */
/*  */
/*  */

.how-it-works {
  background-image: url('./designs/layer3.svg');
  background-size: cover;
  /* background-position: center; */
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
  width: 100%;
  min-height: 65vh;
  margin-bottom: 150px;
}
.how-it-works-header {
  font-size: 2rem;
  margin-bottom: 3.5rem;
  font-weight: 600;
  color: #333;
  margin-top:50px;
}

.step {
display: inline-flex;
width: 30%;
vertical-align: top;
margin: 1rem;
opacity: 0;
transform: translateY(30px);
transition: opacity 0.6s ease, transform 0.6s ease;
flex-direction: column;
align-items: center;
}


.step-icon {
  /* Add your icons here */
  width: 100px;
  height: auto;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #007BFF;
}

.step-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.step.show {
opacity: 1;
transform: translateY(0);
transition: opacity 0.6s ease, transform 0.6s ease;
}

.step-icon img {
transition: transform 0.5s ease;
}

.step-icon img.highlight {
transform: scale(1.2);
transition: transform 0.5s ease;
}


/* Testimonials Section */
.testimonials {
  padding: 4rem 2rem;
  background-color: #f8f9fa;
  position: relative;
  height: auto;
  min-height: 300px; /* adjust this value based on your content size */
  width: 100%;

}

.testimonial {
  padding: 1rem;
  text-align: center;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;    
  display: none;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.active {
  display: block;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}



.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.user-quote {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.user-name {
  font-weight: 600;
}


.testimonial-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  flex-direction: row; /* Change this to row */
  justify-content: flex-start; /* Change this to flex-start */
  gap: 20px; /* Add a gap between cards */
}
.slider-controls {
  z-index: 10;

}

.slider-control-buttons {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 0.5rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.rating {
  /* Add your star icons here */
  margin-bottom: 1rem;
}

/* Call-to-Action Section */
.cta-section {
  padding: 4rem 2rem;
  background-color: #007BFF;
  text-align: center;
  width: 100%;

}

.cta-section .headline {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
}

.cta-section .subheadline {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100px;
  height: auto;
  justify-content: center;
}
.footer-logo-img {
  width: 160px;
  height: auto;
}
.footer-link {
  margin: 20px;
}
.footer-nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer-social .social-icon img {
  margin: 15px;
  width: 40px; /* Adjust this value according to the desired size */
  height: auto;
}


.nav-link {
  color: #ccc;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fff;
}

.social-icon {
  max-width: 32px;
  max-height: 32px;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.copyright {
  font-size: 0.8rem;
}

/* animaties */


.highlight {
  display: inline-block;
  color: inherit;
  transition: transform 0.5s ease-in-out;
  margin-right: 0.25em;
}

.subheadline .highlight:nth-of-type(1) {
  animation: highlightWord1 0.5s 1.0s forwards;
}

.subheadline .highlight:nth-of-type(2) {
  animation: highlightWord2 0.5s 1.5s forwards;
}

.subheadline .highlight:nth-of-type(3) {
  animation: highlightWord3 0.5s 2.0s forwards;
}

@keyframes highlightWord1 {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

@keyframes highlightWord2 {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

@keyframes highlightWord3 {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

/* media queries */
@media screen and (max-width: 768px) {
  .step {
      width: 100%;
      margin: 1rem 0;
  }
}